.sitx-header {
    margin-top: 44px;
 
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
}

.sitx-header__inner-link{
    display: flex;
    align-items: center;
    gap: 32px;
}

.sitx-header__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
}