.sitx-main__our {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1117px;
    margin: 0 auto;
    padding-top: 168px;
}

.our-img {
    max-width: 445px;
    height: 520px;
}

.sitx-main__our-text h2 {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}

.sitx-main__our-text p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
    max-width: 540px;
}